$header_background: url(../img/m-h-night.jpg);
$heading_color: #FFFFFF;
$section_border_radius: 5px;
$body_color: #21232E;
$underline_color: #FF4E33;
$font-heading: 'Source Sans Pro', sans-serif;
$font_text: 'Fresca', sans-serif;
$button_color: #E3AC00;
$gradient_colors: (
        color_1:#DCA007 25%,
        color_2:#C8811B 55%,
        color_3:#AD5637 75%,
        color_4:#942F50 100%,
);
$heading_size: (
        h_big:3.75em,
        h_medium:2em,
        h_small:1.5em
);
